/* 
    General Styles
*/
body{
    background-image: url("https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-14_856985d9.jpeg?download=true");
}
.navbar{
    background-color: transparent !important;
}
h1{
    font-size: 10vmin;
    line-height: 1.1;
}
#article, p{
     background:  linear-gradient(
         rgb(238, 233, 209),
         rgb(245, 160, 4));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
p{
    font-family: "Dank Mono", ui-monospace, monospace;
}